@import "../../../../../../styles/_var.scss";

.table-pagination {
  @include responsivePadding();
}

.mat-header-row {
  background-color: #1babcc;
}

.mat-header-cell {
  color: white;
}

.mat-column-n {
  flex: 0 0 10%;
}

.mat-column-title {
  flex: 0 0 20%;
}

.mat-column-service {
  flex: 0 0 55%;
}

.mat-column-date {
  flex: 0 0 10%;
}

.mat-column-state {
  flex: 0 0 15%;
}

.mat-column-actions {
  flex: 0 0 10%;
}

.state-atendida {
  color: #55ba70;
}

.state-pendiente {
  color: #baba55;
}

.state-cerrada {
  color: #e35f5c;
}

.title {
  font-size: 3vh;
}

.title-row {
  margin-top: 1%;
  margin-bottom: 1%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #1babcc;
}

.spinner-table {
  place-content: center;
}
