.dashboard {
  .dashboard-tabs {
    height: 100%;

    > .mat-tab-header {
      background: white;
      border-bottom: none;
      z-index: 10;
      padding: 0 $padding__page;
      @include lt-sm {
        padding: 0 $padding__page__small;
      }
      @include mat-elevation(2);

      .mat-tab-labels {
        place-content: center;

        .mat-tab-label {
          font-weight: 400;
          color: #737373;
          opacity: 1;

          &.mat-tab-label-active {
            font-weight: 500;
            color: #1babcc;
          }
        }
      }
    }

    .mat-tab-body-wrapper {
      height: 100%;

      .mat-tab-body {
        height: 100%;

        .mat-tab-body-content {
          overflow-x: hidden;
        }
      }
    }
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #1babcc;
}

// FORMULARIOS

.errorMesagge-form {
  color: #eb6255;
  float: right;
  margin-top: -20px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.my-snack-bar-success {
  background-color: #d4edda;
  color: #155724;
}

.my-snack-bar-error {
  background-color: #f8d7da;
  color: #b75b24;
}

.my-snack-bar-warning {
  background-color: #fff3cd;
  color: #d09404;
}
