<div class="row">
  <pitz-validation-message
    *ngIf="status === 0"
    (changeStatus)="changeEstatusEvent($event)"
  ></pitz-validation-message>

  <pitz-validation-select
    *ngIf="status === 1"
    (changeStatus)="changeEstatusEvent($event)"
  ></pitz-validation-select>

  <pitz-email-form
    *ngIf="status === 2"
    (changeEmailStatus)="changeEstatusEmailEvent($event)"
  ></pitz-email-form>

  <pitz-email-message
    *ngIf="status === 3"
    [user]="user"
    (changeStatus)="changeEstatusEvent($event)"
  ></pitz-email-message>

  <pitz-register-form *ngIf="status === 4" [user]="user"></pitz-register-form>
</div>

<div class="row" style="place-content: center">
  <div class="alert alert-warning col-6" role="alert" style="margin-top: 20px">
    Código-QA: PITZ-F0001 v(1.1.2)
  </div>
</div>
