<div class="container" [formGroup]="emailForm">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div
        class="col-md-2 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
      >
        <mat-icon class="icon"> mail </mat-icon>
      </div>
      <div class="col-md-10 col-sm-10 col-10 center">
        <div class="row">
          <div class="title">Ingrese su e-mail</div>
        </div>
        <div class="row">
          <div class="name">Te enviaremos un mensaje para confirmalo</div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="row justify-content-center margin-form">
        <div class="col-md-6 col-10">
          <label class="form-label">Email</label>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="correoelectronico@pitz.com"
              formControlName="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            />
          </mat-form-field>

          <div
            *ngIf="
              emailForm.controls['email'].invalid &&
              (emailForm.controls['email'].dirty ||
                emailForm.controls['email'].touched)
            "
          >
            <div
              *ngIf="emailForm.controls['email'].errors.required"
              class="errorMesagge-form"
            >
              El email es requerido.
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="text-align-last: center">
        <div class="col-md-6 col-10">
          <button
            mat-raised-button
            type="button"
            class="btn btn-primary fix-button"
            (click)="sendEmailFuntion()"
            [class.spinner]="loading$ | async"
            [disabled]="loading$ | async"
          >
            Continuar
          </button>
        </div>
      </div>
    </div>

    <div class="footer row">
      <div class="text-center">
        <div class="text-fix">Necesito ayuda para ingresar</div>
      </div>
    </div>
  </div>
</div>
