@import "../../../../../styles/_var.scss";

.firts-container {
  margin-top: 2%;
}

.card-fixed {
  margin: 20px 10px 20px 10px;
  .center {
    align-self: center;
  }

  .title {
    font-size: 25px;
  }
}

.link {
  margin-top: 10px;
  color: #1babcc;
}

.new-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-success {
  width: 100%;
}

.fix-chat-h {
  height: 500px !important;
}

.edit-button {
  float: right;
  margin-top: -5px;
}

.mat-form-field {
  width: 100%;
}

.fix-button {
  background-color: #1babcc;
  border-color: #1babcc;
  float: right;
}

.fix-button-2 {
  background-color: white;
  border-color: white;
  float: right;
}

.task {
  @include responsivePadding(left);
  @include responsivePadding(right);
  min-height: 54px;

  .checkbox {
    @include responsiveMargin(right);
  }

  &:hover {
    background: #f5f5f5;
  }

  &.done {
    background: #f5f5f5;

    .name {
      text-decoration: line-through;
    }
  }

  .archive {
    color: $color__text-dark;
  }
}
