<div class="toolbar" fxHide fxShow.gt-sm>
  <div class="container" fxLayout="row" fxLayoutAlign="center">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlex="80%"
      fxFlexOffset.gt-sm="36px"
    >
      <div *ngFor="let item of sidenavItems$ | async; let index = index">
        <pitz-toolbar-navigation-item
          *ngIf="index < showMoreButtonAfterIndex && client"
          [item]="item"
          [currentlyOpen]="currentlyOpen$ | async"
        ></pitz-toolbar-navigation-item>
      </div>
    </div>

    <div fxLayout="row" style="margin-top: 10px">
      <div class="toolbar-button" fxLayout="row" fxLayoutAlign="start center">
        <button
          *ngIf="auth !== true && user === null"
          class="icon-button"
          type="button"
          mat-button
          routerLink="/register"
        >
          <mat-icon class="icon">person</mat-icon>
          Crear Cuenta
        </button>
      </div>

      <div
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/login"
      >
        <button
          *ngIf="auth !== true && user === null"
          class="icon-button"
          type="button"
          mat-button
        >
          <mat-icon class="icon">login</mat-icon>
          Ingresar
        </button>
      </div>

      <!-- <div
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/auth/login"
      >
        <button
          *ngIf="auth !== true && user === null"
          class="icon-button"
          type="button"
          mat-button
        >
          <mat-icon class="icon">login</mat-icon>
          Ingreso Pitzer
        </button>
      </div> -->

      <pitz-toolbar-user-button
        *ngIf="auth || (client && user !== null)"
      ></pitz-toolbar-user-button>

      <div
        *ngIf="client && user !== null"
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/request"
      >
        <button class="icon-button" type="button" mat-button>
          <mat-icon class="icon">check_box</mat-icon>
          Solicitudes
        </button>
      </div>
      <div
        *ngIf="auth"
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/auth/dashboard"
      >
        <button class="icon-button" type="button" mat-button>
          <mat-icon class="icon">check_box</mat-icon>
          Administración
        </button>
      </div>
      <div
        *ngIf="auth && this.user.usW_TIPO === '1'"
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/auth/dashboard/user"
      >
        <button class="icon-button" type="button" mat-button>
          <mat-icon class="icon">check_box</mat-icon>
          Usuarios
        </button>
      </div>
      <!-- <div
        *ngIf="auth"
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/auth/dashboard"
      >
        <button class="icon-button" type="button" mat-button>
          <mat-icon class="icon">check_box</mat-icon>
          Administracion
        </button>
      </div> -->
      <!-- <div
        *ngIf="auth"
        class="toolbar-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/auth/dashboard"
      >
        <button class="icon-button" type="button" mat-button>
          <mat-icon class="icon">check_box</mat-icon>
          Usuarios
        </button>
      </div> -->
    </div>
  </div>
</div>
