<div class="page-chat">
  <div fxFlex fxLayout="column">
    <div class="card" fxFlex fxLayout="column">
      <div class="chat-inner-container" fxLayout="column">
        <div
          class="chat-content"
          fxFlex
          fxLayout="column"
          fxLayoutAlign="start stretch"
        >
          <elastic-scrollbar name="chat" #scroll fxFlex>
            <div class="messages-container">
              <div
                class="chat-message"
                *ngFor="let message of chats$ | async"
                [ngSwitch]="message.who"
                fxLayout="column"
                fxLayoutAlign="end start"
              >
                <div
                  class="partner"
                  *ngSwitchCase="'partner'"
                  fxFlexAlign="start"
                  fxLayout="row"
                  fxLayoutAlign="start start"
                >
                  <img class="avatar" [src]="message.picture" />
                  <span
                    class="message mat-elevation-z1"
                    *ngIf="message.document === 0; else document"
                    >{{ message.message }}
                    <span style="font-size: 12px">{{
                      message.date
                    }}</span></span
                  >
                  <ng-template #document>
                    <span class="message mat-elevation-z1">
                      <button
                        mat-icon-button
                        style="margin-left: 0px"
                        (click)="donwloadDocumentFunction(message)"
                      >
                        <mat-icon>file_open</mat-icon>
                      </button>
                      <span style="font-size: 12px">{{
                        message.date
                      }}</span></span
                    ></ng-template
                  >
                </div>
                <div
                  class="me"
                  *ngSwitchCase="'me'"
                  fxFlexAlign="end"
                  fxLayout="row"
                  fxLayoutAlign="end start"
                >
                  <span
                    class="message mat-elevation-z1"
                    *ngIf="message.document === 0; else document"
                    >{{ message.message }}
                    <span style="font-size: 12px">{{
                      message.date
                    }}</span></span
                  >
                  <ng-template #document>
                    <span class="message mat-elevation-z1"
                      ><button
                        mat-icon-button
                        style="margin-left: 0px"
                        (click)="donwloadDocumentFunction(message)"
                      >
                        <mat-icon>file_open</mat-icon>
                      </button>
                      <span style="font-size: 12px">{{
                        message.date
                      }}</span></span
                    ></ng-template
                  >
                  <img class="avatar" [src]="message.picture" />
                </div>
              </div>
            </div>
            <div #scrollToBottomElem></div>
          </elastic-scrollbar>

          <div class="chat-respond" fxLayout="row" fxLayoutAlign="start center">
            <input
              class="form-control"
              type="file"
              accept="image/png, image/jpeg, image/jpg, image/jpg, application/pdf, application/msword"
              (change)="onChange($event)"
              style="display: none"
              #file
            />
            <button
              mat-icon-button
              style="margin-left: 0px"
              (click)="file.click()"
              matTooltip="Subir Documento"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
            <mat-form-field fxFlex>
              <input
                matInput
                (keyup.enter)="send()"
                [(ngModel)]="newMessage"
                placeholder="Escribe un mensaje aqui"
              />
            </mat-form-field>
            <button
              mat-raised-button
              (click)="send()"
              mat-fab
              color="primary"
              [class.spinner]="sendState$ | async"
              [disabled]="sendState$ | async"
              matTooltip="Enviar"
            >
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
