<div class="container">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div class="row row-icon">
        <mat-icon class="icon"> account_circle </mat-icon>
      </div>

      <div class="col-md-12 col-sm-12 col-12 center">
        <div class="row" style="justify-content: center">
          <div class="title col-md-8" style="text-align: center">
            Para crear tu cuenta necesitamos validar sus datos
          </div>
        </div>
      </div>

      <div class="row justify-content-center margin-form">
        <div class="col-md-6 col-10">
          <div style="text-align-last: center">Solo tomará unos minutos</div>
        </div>
      </div>

      <div class="row justify-content-center" style="text-align-last: center">
        <div class="col-md-6 col-10">
          <button
            type="button"
            class="btn btn-primary fix-button"
            (click)="changeStatusFunction()"
          >
            Continuar
          </button>
        </div>
      </div>
    </div>

    <div class="footer row">
      <div class="text-center">
        <div class="text-fix">Necesito ayuda para ingresar</div>
      </div>
    </div>
  </div>
</div>
