<div class="container" [formGroup]="registerForm">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div
        class="col-md-1 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
        style="margin-top: 10px"
      >
        <mat-icon class="icon"> account_circle </mat-icon>
      </div>
      <div class="col-md-11 col-sm-10 col-10 center">
        <div class="row">
          <div class="title">Cree tu cuenta</div>
        </div>
        <div class="row">
          <div class="name">Te damos la bienvenida a <b>Pitzap</b></div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="content">
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Nombre</label>
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="
          registerForm.get('name').invalid &&
          (registerForm.get('name').dirty || registerForm.get('name').touched)
        "
      >
        <span *ngIf="registerForm.get('name').hasError('whitespace')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre no puede contener espacios en blanco.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('name').hasError('required')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es requerido.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('name').hasError('minlength')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es debe tener al menos un caracter.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('name').hasError('maxlength')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es no debe tener mas de 30 caracteres.
            </div>
          </div>
        </span>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Contraseña</label>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="
          registerForm.get('password').invalid &&
          (registerForm.get('password').dirty ||
            registerForm.get('password').touched)
        "
      >
        <span *ngIf="registerForm.get('password').hasError('required')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              La contraseña es requerido.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('password').hasError('minlength')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es debe tener al menos un caracter.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('password').hasError('maxlength')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es no debe tener mas de 30 caracteres.
            </div>
          </div>
        </span>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Repetir Contraseña</label>
          <mat-form-field appearance="outline">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput formControlName="repeat_password" type="password" />
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="
          registerForm.get('repeat_password').invalid &&
          (registerForm.get('repeat_password').dirty ||
            registerForm.get('repeat_password').touched)
        "
      >
        <span *ngIf="registerForm.get('repeat_password').hasError('required')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              Repetir contraseña es requerido.
            </div>
          </div>
        </span>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Numero de teléfono:</label>
          <mat-form-field appearance="outline">
            <mat-label>Numero de teléfono</mat-label>
            <span matPrefix>+56 &nbsp;</span>
            <input
              type="tel"
              matInput
              formControlName="phone_number"
              placeholder="9 93942998"
            />
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="
          registerForm.get('phone_number').invalid &&
          (registerForm.get('phone_number').dirty ||
            registerForm.get('phone_number').touched)
        "
      >
        <span *ngIf="registerForm.get('phone_number').hasError('required')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El numero de télefono es requerido.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('phone_number').hasError('minlength')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es debe tener al menos 8 caracteres.
            </div>
          </div>
        </span>
        <span *ngIf="registerForm.get('phone_number').hasError('maxlength')">
          <div class="row justify-content-center">
            <div class="col-md-6 col-10 error-mesagge">
              El nombre es no debe tener mas de 15 caracteres.
            </div>
          </div>
        </span>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="terms"
            />
            <label class="form-check-label"
              >Al crear tu cuenta estas de acuerdo con nuestros términos y
              condiciones, así como con el tratamiento de información de
              Pitzap.</label
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="offer"
            />
            <label class="form-check-label"
              >Quisiera recibir promociones y ofertas especiales por correo
              electrónico, de forma periódica.</label
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="errorMessage !== ''">
      <div class="col-md-6 col-10 errorMessage">
        <div
          class="alert alert-danger col"
          role="alert"
          style="margin-left: 10px"
        >
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <div class="footer row">
      <div class="text-center">
        <button
          mat-raised-button
          type="button"
          class="btn btn-primary fix-button"
          (click)="registerFunction()"
          [class.spinner]="loading$ | async"
          [disabled]="loading$ | async"
        >
          Crear Cuenta
        </button>
      </div>
    </div>
  </div>
</div>
