@import "../../../styles/_var.scss";

.container {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 700px;

  .fix-button {
    background-color:#1babcc;
    border-color: #1babcc;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .fix-button-light {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    width: 100%;
    color: #1babcc;
  }

  .row {
    --bs-gutter-x: 0 !important;
  }

  .card-fixed {
    margin: 30px 30px 30px 30px;

    .title {
      font-size: 3vh;
      color: #1babcc;
      margin-left: 3vw;
    }

    .subtitle {
      font-size: 2vh;
      margin-left: 3vw;
    }

    .margin-form{
      margin-top: 50px;
    }
  }

  .footer {
    .text-fix {
      font-size: 20px;
      color: #1babcc;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.mat-form-field{
  width: 100%;
}