<div class="container firts-container">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div
        class="col-md-1 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
      >
        <mat-icon class="icon"> account_circle </mat-icon>
      </div>
      <div class="col-md-11 col-sm-10 col-10 center">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="title">
                <b>{{ user.usU_NOMBRE }}</b>
              </div>
            </div>
            <div class="row">
              <div class="subtitle">{{ user.usU_EMAIL }}</div>
            </div>
          </div>
          <div class="col-md-4 wellcome-fix">
            <div class="row">
              <div class="title">Le damos la Bienvenida</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container second-container">
  <div class="areachart-widget card border space">
    <div class="row list-menu">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="row menu-fixed">
            <div
              class="col-md-1 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
            >
              <mat-icon class="icon"> account_circle </mat-icon>
            </div>
            <div class="col-md-11 col-sm-10 col-10 center">
              <div class="row">
                <div class="title">Datos Personales</div>
              </div>
              <div class="row">
                <div class="subtitle">Gestione sus datos personales</div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="row menu-fixed">
            <div
              class="col-md-1 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
            >
              <mat-icon class="icon"> lock </mat-icon>
            </div>
            <div class="col-md-11 col-sm-10 col-10 center">
              <div class="row">
                <div class="title">Seguridad</div>
              </div>
              <div class="row">
                <div class="subtitle">Configuraciones de seguridad</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container second-container fix-bottom">
  <div class="areachart-widget card border space">
    <div class="row list-menu">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="row menu-fixed">
            <div
              class="col-md-1 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
            >
              <mat-icon class="icon"> help </mat-icon>
            </div>
            <div class="col-md-11 col-sm-10 col-10 center">
              <div class="row">
                <div class="title">Solicitar Ayuda</div>
              </div>
              <div class="row">
                <div class="subtitle">Contáctenos</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
