<div class="row toolbar">
  <div
    class="col-lg-2 col-md-2 col-sm-2 col-1 offset-lg-1 d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block"
  >
    <div class="row">
      <a [routerLink]="['/']" class="d-none d-md-block">
        <img class="logo" alt="logo" src="assets/img/logo2x_white.png" />
      </a>
    </div>
  </div>
  <div
    class="col-md-1 col-sm-1 col-2 d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none"
  >
    <div class="row">
      <a [routerLink]="['/']">
        <img class="logo" alt="logo" src="assets/img/logo-responsive.png" />
      </a>
    </div>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-8 col-5 search-bar">
    <!-- <div class="row">
      <pitz-search-bar></pitz-search-bar>
    </div> -->
  </div>
  <div
    class="col-lg-4 col-md-5 col-sm-5 col-5 search-bar d-sm-none d-md-block d-none d-sm-block"
  >
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button class="font-size-fix" type="button" mat-button>
          <i class="fa fa-facebook"></i>
        </button>
        <button class="font-size-fix" type="button" mat-button>
          <i class="fa fa-instagram"></i>
        </button>
      </div>
      <div class="col-md-6 col-sm-6">
        <button class="icon-button" type="button" mat-button>
          <mat-icon class="icon">query_builder</mat-icon>
          {{ localDate | date: "fullDate" }}
        </button>
      </div>
    </div>
  </div>
  <div
    class="col-lg-4 col-md-5 col-sm-3 col-5 search-bar d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none"
  >
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button
          class="icon-button"
          type="button"
          mat-icon-button
          (click)="toggleSidenav()"
        >
          <mat-icon class="icon">menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
