<div class="dashboard">
  <mat-tab-group class="dashboard-tabs">
    <mat-tab label="¿Quienes Somos?">
      <pitz-home-tab
        background="url(/assets/img/demo/headers/pattern-1.jpg)"
        title="Estamos para ayudarte"
        subTitle="Encuentra la mejor solución"
        infoTitle="¿Quienes Somos?"
        infoDescription="Bienvenido a Pitz, una plataforma que pone a tu disposición un grupo de asesores mecánicos para ayudarte con los problemas que puedas tener con tu auto.
Encuentra la mejor solución con nosotros, con una asesoría experta, cercana y transparente, con la tranquilidad de reparar los problemas que tengas con tu auto con total confianza.
En alianza con Inacap, todos nuestros Pitzers son mecánicos preparados, quienes aseguran la calidad y experiencia en tu solicitud, así como encontrar la mejor alternativa entre nuestros proveedores."
      ></pitz-home-tab>
    </mat-tab>
    <mat-tab label="¿Cómo funciona? ">
      <pitz-home-tab
        background="url(/assets/img/demo/headers/pattern-2.jpg)"
        title="Te ofrecemos las mejores opciones"
        subTitle="Encuentra la mejor solución"
        infoTitle="¿Cómo funciona? "
        infoDescription="Ingresa a Pitz, selecciona el servicio que necesitas, ingresa tu solicitud y unos de nuestros Pitzers se pondrá en contacto contigo para entregarte la solución que estás buscando."
      ></pitz-home-tab>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="row">
  <div class="home-services-title">
    <p>Acceso a Servicios</p>
  </div>
  <div class="home-services">
    <div fxLayout="row">
      <pitz-home-services
        *ngFor="let group of groupServices"
        [message]="group.seR_AGRUP_NOMBRE"
        [icon]="group.seR_AGRUP_ICON"
        [class]="
          group.seR_AGROUP_ORDEN === 3
            ? 'd-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block'
            : ''
        "
        (click)="routerLinkFunction(group)"
      ></pitz-home-services>
      <pitz-home-services
        class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block"
        message="Múltiples Servicios"
        icon="servicio-general_007"
        [routerLink]="['./multiples/service']"
      ></pitz-home-services>
    </div>
  </div>
  <div class="home-services">
    <div class="d-lg-none d-xl-block d-xl-none" fxLayout="row">
      <pitz-home-services
        *ngIf="groupServices !== undefined"
        [message]="groupServices[2].seR_AGRUP_NOMBRE"
        [icon]="groupServices[2].seR_AGRUP_ICON"
        (click)="routerLinkFunction(groupServices[2])"
      ></pitz-home-services>
      <pitz-home-services
        message="Múltiples Servicios"
        icon="servicio-general_007"
        [routerLink]="['./multiples/service']"
      ></pitz-home-services>
    </div>
  </div>
</div>

<div class="row" style="place-content: center">
  <div class="alert alert-warning col-6" role="alert" style="margin-top: 20px">
    Código-QA: PITZ-F0002 V(1.1.5)
  </div>
</div>
