@import "../../../styles/_var.scss";

.home-services {
  margin-left: 8%;
  margin-right: 9%;
  margin-top: 1px;
}

.home-services-title {
  margin-left: 8%;
  margin-top: 1%;
  font-size: xx-large;
}
