<div class="row title-row">
  <div class="col-2"></div>
  <div class="col-10"><div class="title">Administracion de Servicios</div></div>
</div>

<div
  class="row fix-row-card"
  style="margin-left: 10%; margin-right: 10%"
  *ngIf="user"
>
  <div class="col">
    <pitz-state-widget
      property="Recepcionadas"
      [value]="(listStatus$ | async).viE_RECEPCIONADAS"
      icon="visibility"
      backgroundColor="linear-gradient(60deg, #54B5CB, #1babcc)"
      textColor="white"
    ></pitz-state-widget>
  </div>

  <div class="col">
    <pitz-state-widget
      property="Atendidas"
      [value]="(listStatus$ | async).viE_ATENDIDAS"
      icon="visibility"
      backgroundColor="linear-gradient(60deg, #7CB88C, #55ba70)"
      textColor="white"
    ></pitz-state-widget>
  </div>

  <div class="col">
    <pitz-state-widget
      property="En Progreso"
      [value]="(listStatus$ | async).viE_PROGRESO"
      icon="visibility"
      backgroundColor="linear-gradient(60deg, #EAC459, #DCAC3F)"
      textColor="white"
    ></pitz-state-widget>
  </div>

  <div class="col">
    <pitz-state-widget
      property="Cerradas"
      [value]="(listStatus$ | async).viE_FINALIZADAS"
      icon="visibility"
      backgroundColor="linear-gradient(60deg, #E38F8E, #e35f5c)"
      textColor="white"
    ></pitz-state-widget>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <mat-tab-group class="preview-tabs mat-elevation-z2" mat-align-tabs="center">
    <mat-tab label="Recepcionadas">
      <div
        class="row"
        style="margin-left: 10%; margin-right: 10%; margin-top: 2%"
      >
        <div class="alert alert-primary col" role="alert">
          Nuevos servicios recepcionados
        </div>
        <div
          class="alert alert-warning col"
          role="alert"
          style="margin-left: 10px"
        >
          Servicios recepcionados hace mas de 1 dia
        </div>
        <div
          class="alert alert-danger col"
          role="alert"
          style="margin-left: 10px"
        >
          Servicios recepcionados hace mas de 2 dias
        </div>
      </div>

      <pitz-table-received></pitz-table-received
    ></mat-tab>
    <mat-tab label="Atendidas / En Proceso">
      <div
        class="row"
        style="margin-left: 10%; margin-right: 10%; margin-top: 2%"
      >
        <div class="alert alert-primary col" role="alert">
          Nuevos servicios recepcionados
        </div>
        <div
          class="alert alert-warning col"
          role="alert"
          style="margin-left: 10px"
        >
          Servicios recepcionados hace mas de 1 dia
        </div>
        <div
          class="alert alert-danger col"
          role="alert"
          style="margin-left: 10px"
        >
          Servicios recepcionados hace mas de 2 dias
        </div>
      </div>
      <pitz-table-in-progress></pitz-table-in-progress
    ></mat-tab>
    <mat-tab label="Finalizadas">
      <pitz-table-finished></pitz-table-finished>
    </mat-tab>
    <mat-tab label="Todo" *ngIf="user">
      <pitz-table-admin></pitz-table-admin>
    </mat-tab>
  </mat-tab-group>
</div>
