<div>
  <pitz-page-header
    [height]="'450px'"
    [background]="background"
    [reverse]="true"
  ></pitz-page-header>

  <div class="container">
    <div class="row row-fix card-overlay">
      <div
        class="col-lg-6 col-md-6 col-sm-12 col-12 col-fix d-none d-sm-block d-sm-none d-md-block"
      >
        <pitz-home-title
          [title]="title"
          [subTitle]="subTitle"
        ></pitz-home-title>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 col-fix">
        <div class="row title">{{ infoTitle }}</div>
        <div class="row description">{{ infoDescription }}</div>
      </div>
      <div class="d-md-none d-lg-block d-lg-none d-xl-block d-xl-none">
        <div class="row" style="justify-content: center">
          <button type="button" class="btn btn-primary whatsapp">
            <i class="fa fa-whatsapp"></i> Escríbanos
          </button>
          <button type="button" class="btn btn-primary download">
            <i class="fa fa-download"></i> Descargar app
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
