@import "../../../../../styles/_var.scss";

.title {
  font-size: 3vh;
}

.title-row {
  margin-top: 1%;
  margin-bottom: 1%;
}

.fix-row-card {
  margin-left: 3%;
  margin-right: 3%;
}

.fix-btn-cerate-user {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  text-align-last: right;
}

.fix-button {
  background-color: #1babcc;
  border-color: #1babcc;
}
