.row-footer {
  margin-top: 5%;
  position: inherit;
  bottom: 0;
}

.row-copy {
  margin-top: 18px;
  margin-left: 1%;
}

.toolbar {
  background-color: #f4f4f4;
}

.logo-footer {
  align-self: center;
}

.copyright {
  color: white;
  background-color: #158bcb;
}

.line {
  height: 10px;
  background-color: #1babcc;
}
