<div class="container firts-container">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div
        class="col-md-1 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
      >
        <mat-icon class="icon"> check_box </mat-icon>
      </div>
      <div class="col-md-11 col-sm-10 col-10 center">
        <div class="row">
          <div class="col-md-12">
            <div class="title">Solicitudes</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container second-container"
  *ngFor="let req of listRequest$ | async"
>
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div
        class="col-md-2 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
        style="margin-top: 10px"
      >
        <mat-icon class="icon-menu"> snowing</mat-icon>
      </div>
      <div class="col-md-7 col-sm-7 col-11 center">
        <div class="row">
          <div
            [class]="
              req.soL_ESTADO === '1' ||
              req.soL_ESTADO === '3' ||
              req.soL_ESTADO === '4'
                ? 'state-pending'
                : req.soL_ESTADO === '2'
                ? 'state-attended'
                : req.soL_ESTADO === '5'
                ? ''
                : 'state-cancelled'
            "
          >
            {{
              req.soL_ESTADO === "1"
                ? "En Espera"
                : req.soL_ESTADO === "2"
                ? "Atendida"
                : req.soL_ESTADO === "3" || req.soL_ESTADO === "4"
                ? "En Progreso"
                : req.soL_ESTADO === "5"
                ? "Finalizada"
                : "Cancelada"
            }}
          </div>
        </div>
        <div class="row">
          <div>
            <b>{{ req.fK_SER_ID.seR_NOMBRE }}</b>
          </div>
        </div>
        <div class="row">
          <div>{{ req.soL_FECHA_CREACION | date: "medium" }}</div>
        </div>
        <!-- <div class="row">
          <div>Caracteristicas</div>
        </div>
        <div class="row">
          <div>Direccion - Detalle</div>
        </div> -->
      </div>
      <!-- <div class="col-md-2 col-sm-3 col-5" style="margin-top: 30px">
        <div class="row">
          <div><b>Agility S.A.S</b></div>
        </div>
        <div class="row">
          <div style="color: #1babcc">Ver mensajes</div>
        </div>
      </div> -->
      <div class="col-md-2 col-sm-2 col-10 center" style="margin-left: 20px">
        <div class="row">
          <button
            type="button"
            class="btn btn-primary fix-button"
            [routerLink]="[req.soL_ID, 'view']"
            [disabled]="
              req.soL_ESTADO === '1' ||
              req.soL_ESTADO === '5' ||
              req.soL_ESTADO === '6'
            "
          >
            Ver solicitud
          </button>
        </div>
        <!-- <div class="row">
          <button
            type="button"
            class="btn btn-light"
            style="margin-top: 3px"
            [disabled]="req.soL_ESTADO === '1'"
          >
            Volver a solicitar
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="row" style="place-content: center">
  <div class="alert alert-warning col-6" role="alert" style="margin-top: 20px">
    Código-QA: PITZ-F0005 v(1.1.2)
  </div>
</div>
