<a
  [routerLink]="item.route"
  routerLinkActive="active"
  class="dropdown-item"
  *ngIf="!item.hasSubItems()"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  matRipple
>
  <span class="name">{{ item.name }}</span>
</a>

<a
  (click)="toggleDropdown()"
  *ngIf="item.hasSubItems()"
  class="dropdown-item"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  matRipple
>
  <span class="name">{{ item.name }}</span>
</a>

<div class="sub-menu" [style.height]="getSubMenuHeight()">
  <pitz-toolbar-navigation-dropdown-item
    class="dropdown-item-container"
    *ngFor="let subItem of item.subItems"
    [item]="subItem"
    [currentlyOpen]="currentlyOpen"
  ></pitz-toolbar-navigation-dropdown-item>
</div>
