<div class="container" [formGroup]="pitzerForm">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div class="col-md-12 col-sm-11 col-11 center">
        <div class="row">
          <div class="title">
            {{ state === 0 ? "Crear Cuenta" : "Edición de Cuenta" }}
          </div>
        </div>
        <div class="row">
          <div class="name">
            Formulario de {{ state === 0 ? "creación" : "edición" }} de cuentas
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="content">
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Nombre</label>
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Correo Electrónico</label>
          <mat-form-field appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Contraseña</label>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-10">
          <label class="form-label">Rol:</label>
          <mat-form-field appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol">
              <mat-option [value]="1"> Administrador </mat-option>
              <mat-option [value]="2"> Pitzer </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="footer row">
      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary fix-button"
          (click)="registerUserWebFunction()"
        >
          {{ state === 0 ? "Crear" : "Editar" }} Cuenta
        </button>
      </div>
    </div>
  </div>
</div>
