<mat-sidenav-container
  class="layout-container"
  [ngClass]="cardElevation$ | async"
>
  <div class="layout">
    <mat-sidenav-container fxFlex>
      <div class="toolbar-container" fxLayout="column">
        <pitz-toolbar (toggledSidenav)="toggleSidenav()"></pitz-toolbar>

        <pitz-toolbar-navigation [client]="true"></pitz-toolbar-navigation>

        <div style="height: 3000px">
          <router-outlet></router-outlet>
        </div>
        <pitz-footer></pitz-footer>
      </div>
    </mat-sidenav-container>
  </div>
</mat-sidenav-container>

<mat-sidenav
  class="sidenav-container"
  (openedStart)="openSidenav()"
  (closedStart)="closeSidenav()"
  [opened]="sidenavOpen$ | async"
  [position]="sidenavAlign$ | async"
  [mode]="sidenavMode$ | async"
  [disableClose]="sidenavDisableClose$ | async"
  [vrSidenavCollapse]="sidenavCollapsed$ | async"
>
  <elastic-sidenav
    [layout]="layout"
    [collapsed]="sidenavCollapsed$ | async"
    (toggledSidenavCollapse)="toggleSidenavCollapse()"
  ></elastic-sidenav>
</mat-sidenav>
