<div class="container" [formGroup]="confirmationForm">
  <div class="areachart-widget card border space">
    <div class="row card-fixed">
      <div
        class="col-md-2 col-sm-2 col-2 d-sm-none d-md-block d-none d-sm-block"
      >
        <mat-icon class="icon"> done </mat-icon>
      </div>
      <div class="col-md-10 col-sm-10 col-10 center">
        <div class="row">
          <div class="title">Enviado</div>
        </div>
        <div class="row">
          <div>
            Hemos enviado un codigo de verificación al correo
            <a style="color: #1babcc">{{ user.usU_EMAIL }}</a>
            Para continuar ingrese el codigo:
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="row justify-content-center">
        <div class="col-md-8 col-10">
          <label class="form-label">Codigo</label>
          <mat-form-field appearance="outline">
            <mat-label>Codigo</mat-label>
            <input
              matInput
              placeholder="PITZ - 325123"
              formControlName="code"
            />
          </mat-form-field>

          <div
            *ngIf="
              confirmationForm.controls['code'].invalid &&
              (confirmationForm.controls['code'].dirty ||
                confirmationForm.controls['code'].touched)
            "
          >
            <div
              *ngIf="confirmationForm.controls['code'].errors.required"
              class="errorMesagge-form"
            >
              El codigo es requerido.
            </div>
          </div>
          <div
            class="errorMesagge-form"
            *ngIf="
              !confirmationForm.controls['code'].invalid && (errorCode$ | async)
            "
          >
            El codigo no es correcto.
          </div>
        </div>

        <div class="row justify-content-center" style="text-align-last: center">
          <div class="col-md-8 col-10">
            <button
              mat-raised-button
              type="button"
              class="btn btn-primary fix-button"
              (click)="verifyCodeFunction()"
              [class.spinner]="loading$ | async"
              [disabled]="loading$ | async"
            >
              Continuar
            </button>
          </div>
        </div>
        <div class="row justify-content-center" style="text-align-last: center">
          <div class="col-md-8 col-10">
            <label class="form-label">¿No lo ha recibido?</label>
          </div>
        </div>
        <div class="row justify-content-center" style="text-align-last: center">
          <div class="col-md-8 col-10">
            <button
              mat-raised-button
              type="button"
              class="btn btn-light fix-button-light"
              (click)="resendCodeFunction()"
              [class.spinner]="loadingResend$ | async"
              [disabled]="loadingResend$ | async"
            >
              Reenviar Codigo
            </button>
          </div>
        </div>
      </div>

      <div class="footer row">
        <div class="text-center">
          <div class="text-fix">Necesito ayuda para ingresar</div>
        </div>
      </div>
    </div>
  </div>
</div>
