<div class="home-title">
  <mat-icon class="icon">directions_car</mat-icon>
  <div class="crumbs" fxLayout="row">
    <div class="title">{{ title }}</div>
  </div>
  <div class="crumbs" fxLayout="row">
    <div class="subTitle">{{ subTitle }}</div>
  </div>
  <button type="button" class="btn btn-primary whatsapp">
    <i class="fa fa-whatsapp"></i> Escríbanos
  </button>
  <button type="button" class="btn btn-primary download">
    <i class="fa fa-download"></i> Descargar app
  </button>
</div>
